@import '../../index'
.wrapper-main
    @include flex-content-direction(center, column)
    align-items: center
    
.wrapper-form
    @include flex-content-direction(center, column)
    align-items: center
    max-width: 553px
    width: 90vw
    background-color: $background-gray
    margin-top: 35px
    padding: 125px 70px 60px 70px

    
    form
        @include flex-content-direction(center, column)
        align-items: center
        width: 100%
        margin-top: 55px
        .check-box-part
            gap: 12px
        .wrapper_input
            width: 100%
            margin-bottom: 32px


.checkbox-wrapper
    @include flex-content-direction(center, row)
    align-items: center
    max-width: 434px
    width: 90%
    margin-bottom: 44px
.input
    border: 1px solid
    border-color: $border-color
    height: 100%
    border-radius: 8px
    color: $main-black
    padding: 0 16px
    &::placeholder
        color: #05050533

.description-input
    font-family: Roboto
    font-size: 12px
    position: absolute
    top: 70px
    left: 26px
.check-box
    appearance: none
    width: 30px
    height: 20px
    background-color: $background-white
    border: 1px solid $main-black
    border-radius: 5px
    position: relative
    cursor: pointer
    &::before
        content: '\2713'
        font-size: 18px
        color: transparent
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: color 0.3s ease
    &:checked
        &::before
            color: $main-black
        
    border-radius: 2px
    background-color: #fff  
    margin: 10px
.error
    color: $error-color
    border-color: $error-color